{% include '/common/header.html' %}
  
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
      	<li class="layui-nav-item layui-nav-itemed"><a href="index.html">菜单管理</a></li>
        <li class="layui-nav-item"><a href="adminList.html">管理员管理</a></li>
        <li class="layui-nav-item"><a href="roleList.html">角色管理</a></li>
      </ul>
    </div>
  </div>
  
  <div class="layui-body">
  <div class="layui-row"></div>
  <div class="layui-col-md11">
  	<form class="layui-form" action="">
    <div class="layui-form-item">
      <label class="layui-form-label">菜单类型</label>
      <div class="layui-input-block">
        <input type="radio" name="type" value="目录" title="目录">
        <input type="radio" name="type" value="菜单" title="菜单" checked>
      </div>
    </div>

    <div class="layui-form-item">
      <label class="layui-form-label">菜单名称</label>
      <div class="layui-input-block">
        <input type="text" name="name" required  lay-verify="required" placeholder="请输入菜单名称" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">上级菜单</label>
      <div class="layui-input-block">
        <select name="top" lay-verify="required">
          <option value="0">顶级菜单</option>
          <option value="1">系统管理</option>
          <option value="2">基础档案</option>
          <option value="3">排课管理</option>
          <option value="4">商品管理</option>
          <option value="5">服务管理</option>
        </select>
      </div>
    </div>

    <div class="layui-form-item">
      <label class="layui-form-label">菜单URL</label>
      <div class="layui-input-block">
        <input type="text" name="url" required  lay-verify="required" placeholder="请输入菜单URL" autocomplete="off" class="layui-input">
      </div>
    </div>

    <div class="layui-form-item">
      <label class="layui-form-label">授权标识</label>
      <div class="layui-input-block">
        <input type="text" name="authorization" required  lay-verify="required" placeholder="请输入授权标识" autocomplete="off" class="layui-input">
      </div>
    </div>

    <div class="layui-form-item">
      <label class="layui-form-label">是否显示</label>
      <div class="layui-input-block">
        <input type="checkbox" checked name="switch" value="1" lay-skin="switch">
      </div>
    </div>

    <div class="layui-form-item layui-form-text">
      <label class="layui-form-label">备注</label>
      <div class="layui-input-block">
        <textarea name="note" placeholder="请输入内容" class="layui-textarea"></textarea>
      </div>
    </div>
    <div class="layui-form-item">
      <div class="layui-input-block">
        <button class="layui-btn" lay-submit lay-filter="submit">立即提交</button>
        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
      </div>
    </div>
  </form>
  </div>
  </div>

{% include '/common/footer.html' %}

<script>
//Demo
layui.use('form', function(){
  var form = layui.form;
  //监听提交
  form.on('submit(submit)', function(data){
    // JSON.stringify(data.field)
     // addMenu(data.field);
     layer.msg('添加成功',function(){
      window.location.href="index.html";
     });

    return false;

  });
});
</script>

